<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355904470186-r0esaad86l0ddmj5cod6072td2pp1dn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355904470186-r0esaad86l0ddmj5cod6072td2pp1dn3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>355904470186-f3k0io49vqsj94uu4u4sv0p4ir78tc30.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACJG1RnuOhV7Qg3oI0LAZGm8u_byCyUsM</string>
	<key>GCM_SENDER_ID</key>
	<string>355904470186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiotics.vlivemooc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>signin-4517e</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-4517e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355904470186:ios:bf6547b4231bb146e9a4d3</string>
	<key>DATABASE_URL</key>
	<string>https://signin-4517e-default-rtdb.firebaseio.com</string>
</dict>
</plist>