<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Subtitle</key>
    <dict>
        <key>Title</key>
        <string>Subtitles</string>
        <key>Icon</key>
        <string>Subtitle-grey</string>
        <key>CanShow</key>
        <true/>
        <key>SelectionImage</key>
        <string>SelectionTick</string>
        <key>SelectionColor</key>
        <string>#E92E2E</string>
        <key>SubtitleFont-Normal</key>
        <string>ProximaNova-Regular|14</string>
        <key>SubtitleFont-Bold</key>
        <string>ProximaNova-Bold|14</string>
        <key>SubtitleFont-Italic</key>
        <string>ProximaNova-Regular|14</string>
    </dict>
    <key>PlayerSettings</key>
    <dict>
        <key>Settings</key>
        <array>
            <dict>
                <key>Title</key>
                <string>Video Quality</string>
                <key>Type</key>
                <string>VIDEO</string>
                <key>CanShow</key>
                <true/>
                <key>Icon</key>
                <string>Settings-grey</string>
                <key>SelectionColor</key>
                <string>#E92E2E</string>
                <key>SelectionImage</key>
                <string>SelectionTick</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>Audio Language</string>
                <key>Type</key>
                <string>AUDIO</string>
                <key>CanShow</key>
                <true/>
                <key>Icon</key>
                <string>Settings-grey</string>
                <key>SelectionColor</key>
                <string>#E92E2E</string>
                <key>SelectionImage</key>
                <string>SelectionTick</string>
            </dict>
        </array>
        <key>SettingsTitle</key>
        <string>Settings</string>
        <key>SettingsIcon</key>
        <string>Settings-grey</string>
    </dict>
    <key>VideoQuality</key>
    <dict>
        <key>Quality</key>
        <array>
            <dict>
                <key>Title</key>
                <string>Auto</string>
                <key>BitrateIndex</key>
                <string>AUTO</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>Low</string>
                <key>BitrateIndex</key>
                <string>FIRST</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>Medium</string>
                <key>BitrateIndex</key>
                <string>MID</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>High</string>
                <key>BitrateIndex</key>
                <string>LAST</string>
            </dict>
        </array>
        <key>Message</key>
        <string>Select any one of these video quality</string>
        <key>Title</key>
        <string>Video Quality</string>
        <key>HasDefaultQuality</key>
        <false/>
    </dict>
    <key>ActivityIndicator</key>
    <dict>
        <key>BackgroundColor</key>
        <string>#000000|0.4</string>
        <key>Color</key>
        <string>#FFFFFF</string>
        <key>TintColor</key>
        <string>#FFFFFF</string>
        <key>HasDefaultLoader</key>
        <false/>
    </dict>
    <key>Player</key>
    <dict>
        <key>FingerPrintDuration</key>
        <integer>3</integer>
        <key>HasSettingsButton</key>
        <true/>
        <key>HasAutomaticStart</key>
        <true/>
        <key>HasInlineSupport</key>
        <false/>
    </dict>
    <key>ControlsView</key>
    <dict>
        <key>SkipCredit</key>
        <dict>
            <key>Height</key>
            <integer>36</integer>
            <key>Bottom</key>
            <integer>16</integer>
            <key>HasSkipCredit</key>
            <true/>
        </dict>
        <key>NextEpisode</key>
        <dict>
            <key>Height</key>
            <integer>36</integer>
            <key>Bottom</key>
            <integer>16</integer>
            <key>HasNextEpisode</key>
            <true/>
        </dict>
        <key>PlayList</key>
        <dict>
            <key>PlayListIcon</key>
            <string>Playlist</string>
        </dict>
        <key>Title</key>
        <dict>
            <key>HasTitle</key>
            <true/>
            <key>TitleTextAlignment</key>
            <string>LEFT</string>
            <key>TitleColor</key>
            <string>#FFFFFF</string>
            <key>TitleFont</key>
            <string>Roboto-Medium|16</string>
        </dict>
        <key>QuickSeek</key>
        <dict>
            <key>HasForwardButton</key>
            <true/>
            <key>HasBackwardButton</key>
            <true/>
            <key>ForwardTag</key>
            <integer>101</integer>
            <key>BackwardTag</key>
            <integer>102</integer>
            <key>ForwardButtonIcon</key>
            <string>QuickSeekForward</string>
            <key>BackwardButtonIcon</key>
            <string>QuickSeekBack</string>
        </dict>
        <key>ToggleButton</key>
        <dict>
            <key>HasCenteredButton</key>
            <true/>
            <key>CenterButtonHasReplayButton</key>
            <false/>
            <key>CenterButtonPlayIcon</key>
            <string>PlayButton</string>
            <key>CenterButtonPauseIcon</key>
            <string>PauseButton</string>
            <key>CenterButtonReplayIcon</key>
            <string>Replay</string>
            <key>HasBottomButton</key>
            <false/>
            <key>BottomButtonHasReplayButton</key>
            <false/>
            <key>BottomButtonPlayIcon</key>
            <string>PlayBottom</string>
            <key>BottomButtonPauseIcon</key>
            <string>PauseBottom</string>
            <key>BottomButtonReplayIcon</key>
            <string>Replay</string>
        </dict>
        <key>Slider</key>
        <dict>
            <key>MaximumTrackTint</key>
            <string>#FFFFFF|0.3</string>
            <key>MinimumTrackTint</key>
            <string>#8B1836</string>
            <key>ThumbTintColor</key>
            <string>#8B1836</string>
            <key>ThumbNormal</key>
            <string>ThumbNormal</string>
            <key>ThumbHighlighted</key>
            <string>ThumbSelected</string>
        </dict>
        <key>VolumeControl</key>
        <dict>
            <key>HasGesture</key>
            <true/>
            <key>BackgroundColor</key>
            <string>#FFFFFF|0.3</string>
            <key>ProgressColor</key>
            <string>#8B1836</string>
            <key>VolumeUpIcon</key>
            <string>volume_up</string>
            <key>VolumeOffIcon</key>
            <string>volume_off</string>
        </dict>
        <key>BrightnessControl</key>
        <dict>
            <key>HasGesture</key>
            <true/>
            <key>BackgroundColor</key>
            <string>#FFFFFF|0.3</string>
            <key>ProgressColor</key>
            <string>#8B1836</string>
            <key>ProgressIcon</key>
            <string>brightness</string>
        </dict>
        <key>HasControls</key>
        <true/>
        <key>DefaultNIB</key>
        <false/>
        <key>CustomNIBName</key>
        <string>PlayerControlsViewRelease</string>
    </dict>
</dict>
</plist>
